@media only screen and (max-width: 425px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        padding: 20px 20px;

        .navbarTitles {
            display: none !important;
        }

        .navbarIcon {
            display: block !important;
        }
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .navbarTitles {
        display: flex;
        gap: 40px;

        .navbarLink {
            text-decoration: none;
            list-style: none;
            color: black;
        }
    }

    .navbarIcon {
        display: none;
    }
}